In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# set main directory
main_directory = os.getcwd().strip('notebooks')

In [3]:
# load files, data taken from Table 3 of
# https://www.abs.gov.au/statistics/people/population/regional-population-age-and-sex/2021/32350DS0001_2021.xlsx
# headings deleted from original excel file
age_SA2 = pd.read_csv(main_directory+"data/raw/SA2_AGE_POP.csv")

In [4]:
age_SA2.drop([0], inplace = True) # drop first NA column

In [5]:
# filter out all other states as we only want Victoria

age_SA2 = age_SA2[age_SA2['S/T name'] == 'Victoria']
age_SA2

,S/T code,S/T name,GCCSA code,GCCSA name,SA4 code,SA4 name,SA3 code,SA3 name,SA2 code,SA2 name,...,no..9,no..10,no..11,no..12,no..13,no..14,no..15,no..16,no..17,no..18
646,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011001.0,Alfredton,...,1142.0,974.0,848.0,709.0,666.0,596.0,419.0,253.0,164.0,16823.0
647,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011002.0,Ballarat,...,818.0,833.0,812.0,822.0,721.0,736.0,526.0,387.0,380.0,12076.0
648,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011005.0,Buninyong,...,532.0,495.0,452.0,526.0,474.0,398.0,204.0,134.0,85.0,7232.0
649,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011006.0,Delacombe,...,565.0,530.0,538.0,479.0,428.0,432.0,280.0,175.0,228.0,10640.0
650,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011007.0,Smythes Creek,...,326.0,344.0,312.0,311.0,242.0,186.0,95.0,40.0,31.0,4213.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1163,2,Victoria,2RVIC,Rest of Vic.,217.0,Warrnambool and South West,21703.0,Colac - Corangamite,217031476.0,Otway,...,264.0,303.0,363.0,422.0,404.0,311.0,182.0,103.0,71.0,3978.0
1164,2,Victoria,2RVIC,Rest of Vic.,217.0,Warrnambool and South West,21704.0,Warrnambool,217041477.0,Moyne - East,...,444.0,477.0,555.0,526.0,475.0,339.0,210.0,153.0,113.0,6989.0
1165,2,Victoria,2RVIC,Rest of Vic.,217.0,Warrnambool and South West,21704.0,Warrnambool,217041478.0,Moyne - West,...,618.0,675.0,735.0,731.0,781.0,671.0,420.0,228.0,252.0,9963.0
1166,2,Victoria,2RVIC,Rest of Vic.,217.0,Warrnambool and South West,21704.0,Warrnambool,217041479.0,Warrnambool - North,...,1374.0,1435.0,1444.0,1404.0,1245.0,1150.0,843.0,543.0,504.0,22462.0
1167,2,Victoria,2RVIC,Rest of Vic.,217.0,Warrnambool and South West,21704.0,Warrnambool,217041480.0,Warrnambool - South,...,805.0,855.0,838.0,913.0,885.0,760.0,536.0,391.0,540.0,13292.0

In [6]:
# drop irrelevant columns which are not SA2

age_SA2.drop(age_SA2.iloc[:, 0:8], inplace=True, axis=1)

In [7]:
age_SA2

,SA2 code,SA2 name,no.,no..1,no..2,no..3,no..4,no..5,no..6,no..7,...,no..9,no..10,no..11,no..12,no..13,no..14,no..15,no..16,no..17,no..18
646,201011001.0,Alfredton,1230.0,1388.0,1457.0,1318.0,1073.0,972.0,1153.0,1276.0,...,1142.0,974.0,848.0,709.0,666.0,596.0,419.0,253.0,164.0,16823.0
647,201011002.0,Ballarat,504.0,589.0,713.0,837.0,728.0,677.0,654.0,660.0,...,818.0,833.0,812.0,822.0,721.0,736.0,526.0,387.0,380.0,12076.0
648,201011005.0,Buninyong,366.0,552.0,614.0,547.0,397.0,270.0,310.0,395.0,...,532.0,495.0,452.0,526.0,474.0,398.0,204.0,134.0,85.0,7232.0
649,201011006.0,Delacombe,815.0,764.0,720.0,593.0,841.0,1069.0,915.0,679.0,...,565.0,530.0,538.0,479.0,428.0,432.0,280.0,175.0,228.0,10640.0
650,201011007.0,Smythes Creek,228.0,298.0,378.0,346.0,213.0,147.0,206.0,236.0,...,326.0,344.0,312.0,311.0,242.0,186.0,95.0,40.0,31.0,4213.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1163,217031476.0,Otway,151.0,168.0,200.0,168.0,109.0,157.0,209.0,193.0,...,264.0,303.0,363.0,422.0,404.0,311.0,182.0,103.0,71.0,3978.0
1164,217041477.0,Moyne - East,426.0,470.0,508.0,441.0,330.0,351.0,437.0,355.0,...,444.0,477.0,555.0,526.0,475.0,339.0,210.0,153.0,113.0,6989.0
1165,217041478.0,Moyne - West,516.0,611.0,729.0,588.0,389.0,424.0,506.0,546.0,...,618.0,675.0,735.0,731.0,781.0,671.0,420.0,228.0,252.0,9963.0
1166,217041479.0,Warrnambool - North,1259.0,1434.0,1598.0,1424.0,1216.0,1463.0,1436.0,1344.0,...,1374.0,1435.0,1444.0,1404.0,1245.0,1150.0,843.0,543.0,504.0,22462.0
1167,217041480.0,Warrnambool - South,641.0,695.0,728.0,713.0,673.0,892.0,832.0,803.0,...,805.0,855.0,838.0,913.0,885.0,760.0,536.0,391.0,540.0,13292.0

In [8]:
# create bins based on age groups
# structure for age groups
#  0-14 years (children), 15-24 years (early working age), 25-54 years (prime working age), 55-64 years (mature working age),
# 65 years and over (elderly)


age_SA2['Children'] = age_SA2.iloc[:,2:5].sum(axis=1)
age_SA2['Early_Working_age'] = age_SA2.iloc[:,5:7].sum(axis=1)
age_SA2['Prime_Working_age'] = age_SA2.iloc[:,7:14].sum(axis=1)
age_SA2['Mature_Working_age'] = age_SA2.iloc[:,14:16].sum(axis=1)
age_SA2['Elderly'] = age_SA2.iloc[:,16:21].sum(axis=1)

In [9]:
# drop the age range columns

age_SA2.drop(age_SA2.iloc[:, 2:21], inplace=True, axis=1)

In [10]:
age_SA2

,SA2 code,SA2 name,Children,Early_Working_age,Prime_Working_age,Mature_Working_age,Elderly
646,201011001.0,Alfredton,4075.0,2391.0,7550.0,1375.0,18255.0
647,201011002.0,Ballarat,1806.0,1565.0,5133.0,1543.0,14105.0
648,201011005.0,Buninyong,1532.0,944.0,2935.0,1000.0,8053.0
649,201011006.0,Delacombe,2299.0,1434.0,4885.0,907.0,11755.0
650,201011007.0,Smythes Creek,904.0,559.0,1845.0,553.0,4565.0
...,...,...,...,...,...,...,...
1163,217031476.0,Otway,519.0,277.0,1689.0,826.0,4645.0
1164,217041477.0,Moyne - East,1404.0,771.0,2998.0,1001.0,7804.0
1165,217041478.0,Moyne - West,1856.0,977.0,4047.0,1512.0,11534.0
1166,217041479.0,Warrnambool - North,4291.0,2640.0,9842.0,2649.0,25502.0
1167,217041480.0,Warrnambool - South,2064.0,1386.0,5817.0,1798.0,15519.0

In [11]:
age_SA2.to_csv(main_directory+"data/curated/SA2_Vic_age_clean.csv")