In [ ]:
    """
    This code takes some coordinates and creates a bounding box 
    around them with account of the Earth's curvature by utilising 
    the inverse haversine function.
    """

In [4]:
# Required imports
from haversine import inverse_haversine, Direction
import pandas as pd
import numpy as np

pd.options.mode.chained_assignment = None

In [17]:
# Constants

DISTANCE = 20

In [18]:
data = pd.read_csv('../data/curated/rental_properties_cleaned.csv')

In [19]:
# Initialise necessary columns
data = pd.DataFrame(data.coordinates)
data['lat'] = np.nan
data['long'] = np.nan
data['bbox_min_lat'] = np.nan
data['bbox_min_long'] = np.nan
data['bbox_max_lat'] = np.nan
data['bbox_max_long'] = np.nan

In [20]:
data

,coordinates,lat,long,bbox_min_lat,bbox_min_long,bbox_max_lat,bbox_max_long
0,"[-36.253557, 144.944557]",NaN,NaN,NaN,NaN,NaN,NaN
1,"[-36.554159, 146.7208003]",NaN,NaN,NaN,NaN,NaN,NaN
2,"[-36.5530096, 146.7188613]",NaN,NaN,NaN,NaN,NaN,NaN
3,"[-36.5380049, 145.9927626]",NaN,NaN,NaN,NaN,NaN,NaN
4,"[-36.5424309, 145.9979175]",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
6595,"[-37.8223967, 144.938237]",NaN,NaN,NaN,NaN,NaN,NaN
6596,"[-37.8301164, 144.9569041]",NaN,NaN,NaN,NaN,NaN,NaN
6597,"[-37.8141725, 144.9740049]",NaN,NaN,NaN,NaN,NaN,NaN
6598,"[-38.372703, 144.7856897]",NaN,NaN,NaN,NaN,NaN,NaN
6599,"[-37.9159452, 144.9989003]",NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# As coordinates are stored as string, we need to parse it into lat and long. 
for i in  range(len(data)):
    temp = data.coordinates[i][1:-1].split(',')
    data.lat[i] = float(temp[0])
    data.long[i] = float(temp[1])

In [22]:
data.lat = data.lat.round(6)
data.long = data.long.round(6)

In [24]:
# Create a counding box around the coordinates based on the inverse haversine algorithm
for i in range(len(data)):
    cord_west = inverse_haversine((data.lat[i], data.long[i]), DISTANCE, Direction.WEST)
    cord_south = inverse_haversine((data.lat[i], data.long[i]), DISTANCE, Direction.SOUTH)
    cord_north = inverse_haversine((data.lat[i], data.long[i]), DISTANCE, Direction.NORTH)
    cord_east = inverse_haversine((data.lat[i], data.long[i]), DISTANCE, Direction.EAST)
    
    
    data.bbox_min_long[i] = cord_west[1]
    data.bbox_min_lat[i] = cord_south[0]
    data.bbox_max_long[i] = cord_east[1]
    data.bbox_max_lat[i] = cord_north[0]

In [25]:
data

,coordinates,lat,long,bbox_min_lat,bbox_min_long,bbox_max_lat,bbox_max_long
0,"[-36.253557, 144.944557]",-36.253557,144.944557,-36.433421,144.721514,-36.073693,145.167600
1,"[-36.554159, 146.7208003]",-36.554159,146.720800,-36.734023,146.496892,-36.374295,146.944708
2,"[-36.5530096, 146.7188613]",-36.553010,146.718861,-36.732874,146.494957,-36.373146,146.942765
3,"[-36.5380049, 145.9927626]",-36.538005,145.992763,-36.717869,145.768902,-36.358141,146.216624
4,"[-36.5424309, 145.9979175]",-36.542431,145.997918,-36.722295,145.774044,-36.362567,146.221792
...,...,...,...,...,...,...,...
6595,"[-37.8223967, 144.938237]",-37.822397,144.938237,-38.002261,144.710537,-37.642533,145.165937
6596,"[-37.8301164, 144.9569041]",-37.830116,144.956904,-38.009980,144.729180,-37.650252,145.184628
6597,"[-37.8141725, 144.9740049]",-37.814172,144.974005,-37.994036,144.746330,-37.634308,145.201680
6598,"[-38.372703, 144.7856897]",-38.372703,144.785690,-38.552567,144.556269,-38.192839,145.015111
6599,"[-37.9159452, 144.9989003]",-37.915945,144.998900,-38.095809,144.770911,-37.736081,145.226889

In [27]:
data.to_csv('../data/curated/bbox.csv')