In [1]:
# import packages
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

import seaborn as sns
import matplotlib.pyplot as plt

# set os
import os
main_directory = os.getcwd().strip('notebooks')

/Users/lucyliu/Library/Python/3.9/lib/python/site-packages/geopandas/_compat.py:112: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

## <font color='brown'>Load Data</font>

In [2]:
# Load Data
income_df = pd.read_csv("../data/curated/vic_income_by_sa2.csv")

# drop irrelevant columns
income_df = income_df.drop(columns=['Unnamed: 0'])

In [5]:
income_df.columns = [str(col).replace(' ', '_') for col in income_df.columns]

In [6]:
# Locate rows with unavaileble data
income_df.loc[income_df['Earners_2015'] == 'np']

,SA2,SA2_NAME,Earners_2015,Earners_2016,Earners_2017,Earners_2018,Earners_2019,Median_Age_2015,Median_Age_2016,Median_Age_2017,...,Median_$_2015,Median_$_2016,Median_$_2017,Median_$_2018,Median_$_2019,Mean_$_2015,Mean_$_2016,Mean_$_2017,Mean_$_2018,Mean_$_2019
79,205021080,Alps - East,np,np,4,3,3,np,np,62,...,np,np,32270,31114,32682,np,np,23098,22659,23162
82,205021083,Lake King,np,np,np,np,np,np,np,np,...,np,np,np,np,np,np,np,np,np,np
91,205031092,Wilsons Promontory,np,np,8,10,9,np,np,41,...,np,np,48294,61865,70131,np,np,59684,70567,76558
126,206041127,West Melbourne,np,np,6,8,7,np,np,40,...,np,np,58023,93272,82813,np,np,107800,237158,112680
193,208031192,Moorabbin Airport,np,np,7,8,8,np,np,53,...,np,np,65632,50000,72075,np,np,66862,60501,123925
235,210011227,Essendon Airport,np,np,18,19,18,np,np,48,...,np,np,24967,27711,22966,np,np,40259,42355,47784

In [7]:
#replace 'np' values with 0 to allow us to perform mathematical convertions
income_df = income_df.replace(['np'],'0')

#convert data types
convert_dic = {'Earners_2015': int, 
            'Earners_2016': int, 
            'Earners_2017': int, 
            'Earners_2018': int, 
            'Earners_2019': int,
            'Median_Age_2015': int,
            'Median_Age_2016': int,
            'Median_Age_2017': int,
            'Median_Age_2018': int,
            'Median_Age_2019': int, 
            'Mean_$_2015': int, 
            'Mean_$_2016': int, 
            'Mean_$_2017': int, 
            'Mean_$_2018': int, 
            'Mean_$_2019': int }

income_df = income_df.astype(convert_dic)
income_df

,SA2,SA2_NAME,Earners_2015,Earners_2016,Earners_2017,Earners_2018,Earners_2019,Median_Age_2015,Median_Age_2016,Median_Age_2017,...,Median_$_2015,Median_$_2016,Median_$_2017,Median_$_2018,Median_$_2019,Mean_$_2015,Mean_$_2016,Mean_$_2017,Mean_$_2018,Mean_$_2019
0,201011001,Alfredton,6225,6718,7124,7558,7989,42,42,42,...,48532,49385,50845,52448,53932,56374,57747,60026,62315,63668
1,201011002,Ballarat,7289,7400,7470,7585,7595,45,46,47,...,47894,49564,50413,51736,53688,67217,72754,71895,74671,77876
2,201011003,Ballarat - North,12503,12516,12889,13356,13598,43,43,43,...,44494,45816,46561,49211,50593,53017,54660,56067,59786,60367
3,201011004,Ballarat - South,11347,11529,11905,12294,12722,40,39,40,...,40846,41544,42531,44293,45828,45473,46143,47676,49041,50778
4,201011005,Buninyong,3966,4001,4118,4195,4249,45,45,45,...,46972,47511,49179,51034,52377,58011,58292,60009,61565,63258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,217031476,Otway,2225,2212,2315,2297,2360,52,52,51,...,31322,33020,32563,33929,36219,40640,42426,44236,44755,46448
458,217041477,Moyne - East,3890,3833,3879,3954,4081,46,46,46,...,40775,40053,41244,44000,46071,48627,47031,49104,50652,55573
459,217041478,Moyne - West,5650,5602,5759,5765,5852,47,47,48,...,39961,41751,42159,43136,45256,48280,50307,51459,52080,55547
460,217041479,Warrnambool - North,12185,12346,12694,12950,13157,43,43,43,...,42635,43536,44772,46945,48855,50513,50939,52090,59812,56099
461,217041480,Warrnambool - South,7431,7583,7614,7734,8052,44,43,44,...,41641,42330,43439,45726,47242,50663,50965,53226,54849,58247

## <font color='brown'>Forcasting</font>

In [8]:
#select yearly income data from 2015 - 2019 as yr_income
yr_income = income_df[['SA2', 'SA2_NAME', 'Mean_$_2015', 'Mean_$_2016', 'Mean_$_2017', 'Mean_$_2018', 'Mean_$_2019']]
yr_income.rename(columns={'Mean_$_2015': '2015', 'Mean_$_2016': '2016', 'Mean_$_2017': '2017', 'Mean_$_2018': '2018', 
    'Mean_$_2019': '2019'}, inplace=True)
yr_income.head()

/var/folders/jv/q8z94ls52bq_4hrt0x88rlb40000gn/T/ipykernel_16727/3812428167.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yr_income.rename(columns={'Mean_$_2015': '2015', 'Mean_$_2016': '2016', 'Mean_$_2017': '2017', 'Mean_$_2018': '2018',

         SA2          SA2_NAME   2015   2016   2017   2018   2019
0  201011001         Alfredton  56374  57747  60026  62315  63668
1  201011002          Ballarat  67217  72754  71895  74671  77876
2  201011003  Ballarat - North  53017  54660  56067  59786  60367
3  201011004  Ballarat - South  45473  46143  47676  49041  50778
4  201011005         Buninyong  58011  58292  60009  61565  63258

In [9]:
yr_income = pd.melt(yr_income, id_vars=["SA2", "SA2_NAME"], 
                  var_name="Year", value_name="Income")
yr_income = yr_income.sort_values(by = ['SA2_NAME', 'Year']).reset_index(drop=True)
yr_income.head()

         SA2    SA2_NAME  Year  Income
0  206071139  Abbotsford  2015   65878
1  206071139  Abbotsford  2016   69588
2  206071139  Abbotsford  2017   72002
3  206071139  Abbotsford  2018   75384
4  206071139  Abbotsford  2019   78181

In [10]:
#pivot data, set sa2 as index
yr_sa2_income = yr_income.pivot(index = 'SA2_NAME', columns = 'Year', values = 'Income')
yr_sa2_income

Year            2015    2016    2017    2018    2019
SA2_NAME
Abbotsford     65878   69588   72002   75384   78181
Airport West   56238   58809   60758   63576   65204
Albert Park   111338  115049  115981  117352  120412
Alexandra      41922   44044   45642   46205   48414
Alfredton      56374   57747   60026   62315   63668
...              ...     ...     ...     ...     ...
Yarram         54112   45827   44023   45840   48524
Yarraville     70906   73604   76250   79585   83130
Yarrawonga     46270   46072   47691   48313   49703
Yarriambiack   40333   38594   50845   58228   52472
Yea            44052   44684   45806   47070   49593

[462 rows x 5 columns]

In [11]:
#calculate the average growth rate per year from 2015-2019 for each sa2
yr_sa2_income['Rate_Change_Yr'] = ((yr_sa2_income['2016'] - yr_sa2_income['2015'])/yr_sa2_income['2015'] + 
                    (yr_sa2_income['2017'] - yr_sa2_income['2016'])/yr_sa2_income['2016'] +
                    (yr_sa2_income['2018'] - yr_sa2_income['2017'])/yr_sa2_income['2017'] +
                    (yr_sa2_income['2019'] - yr_sa2_income['2018'])/yr_sa2_income['2018'])/4
yr_sa2_income

Year            2015    2016    2017    2018    2019  Rate_Change_Yr
SA2_NAME
Abbotsford     65878   69588   72002   75384   78181        0.043770
Airport West   56238   58809   60758   63576   65204        0.037711
Albert Park   111338  115049  115981  117352  120412        0.019832
Alexandra      41922   44044   45642   46205   48414        0.036761
Alfredton      56374   57747   60026   62315   63668        0.030917
...              ...     ...     ...     ...     ...             ...
Yarram         54112   45827   44023   45840   48524       -0.023162
Yarraville     70906   73604   76250   79585   83130        0.040570
Yarrawonga     46270   46072   47691   48313   49703        0.018169
Yarriambiack   40333   38594   50845   58228   52472        0.080167
Yea            44052   44684   45806   47070   49593        0.030163

[462 rows x 6 columns]

In [12]:
#create forecasted income for the the next 3 years (2025) this includes forcasting up to 2022 as well
# due to the lack of an availeble dataset.
forecast_income = pd.DataFrame()
forecast_income['SA2_NAME'] = yr_income['SA2_NAME'].unique()
years = ['2020' , '2021', '2022', '2023', '2024', '2025']

for year in years:
    predict_income = []
    for name in yr_income['SA2_NAME'].unique():
        if yr_sa2_income.loc[str(name), 'Rate_Change_Yr'] >= 0:
            predict_income.append(
                yr_sa2_income.loc[str(name), str(int(year) - 1)] + (yr_sa2_income.loc[str(name), str(int(year) - 1)]*yr_sa2_income.loc[str(name), 'Rate_Change_Yr'])
            )
        else:
            predict_income.append(
                yr_sa2_income.loc[str(name), str(int(year) - 1)] + (yr_sa2_income.loc[str(name), str(int(year) - 1)]*yr_sa2_income['Rate_Change_Yr'].mean())
            )
    forecast_income[year] = predict_income
    yr_sa2_income[year] = predict_income

#round of forecasts to 1 decimal point
years = ['2020' , '2021', '2022', '2023', '2024', '2025']
for year in years:
    forecast_income[year] = forecast_income[year].round(1)

### Income Forecast for 2020-2025

In [13]:
forecast_income

         SA2_NAME      2020      2021      2022      2023      2024      2025
0      Abbotsford   81603.0   85174.8   88902.9   92794.2   96855.8  101095.2
1    Airport West   67662.9   70214.6   72862.5   75610.2   78461.6   81420.5
2     Albert Park  122800.0  125235.4  127719.1  130252.0  132835.2  135469.5
3       Alexandra   50193.7   52038.9   53951.9   55935.2   57991.5   60123.3
4       Alfredton   65636.4   67665.6   69757.6   71914.3   74137.6   76429.7
..            ...       ...       ...       ...       ...       ...       ...
457        Yarram   49889.2   51292.7   52735.8   54219.5   55744.9   57313.2
458    Yarraville   86502.6   90012.0   93663.8   97463.8  101417.9  105532.5
459    Yarrawonga   50606.0   51525.5   52461.6   53414.8   54385.2   55373.4
460  Yarriambiack   56678.5   61222.3   66130.4   71431.9   77158.4   83344.0
461           Yea   51088.9   52629.9   54217.3   55852.7   57537.4   59272.9

[462 rows x 7 columns]

In [14]:
forecast_income.to_csv(main_directory+ 'data/curated/forecast_income_SA2.csv')

In [15]:
yr_income['SA2_NAME'].unique()

array(['Abbotsford', 'Airport West', 'Albert Park', 'Alexandra',
       'Alfredton', 'Alphington - Fairfield', 'Alps - East',
       'Alps - West', 'Altona', 'Altona Meadows', 'Altona North',
       'Ararat', 'Ararat Region', 'Ardeer - Albion', 'Armadale',
       'Ascot Vale', 'Ashburton (Vicnp)', 'Ashwood - Chadstone',
       'Aspendale Gardens - Waterways', 'Avoca', 'Bacchus Marsh',
       'Bacchus Marsh Region', 'Bairnsdale', 'Ballarat',
       'Ballarat - North', 'Ballarat - South', 'Balwyn', 'Balwyn North',
       'Bannockburn', 'Bayswater', 'Bayswater North',
       'Beaconsfield - Officer', 'Beaufort', 'Beaumaris', 'Beechworth',
       'Belgrave - Selby', 'Belmont', 'Benalla', 'Benalla Region',
       'Bendigo', 'Bendigo Region - North', 'Bendigo Region - South',
       'Bentleigh - McKinnon', 'Bentleigh East (North)',
       'Bentleigh East (South)', 'Berwick - North', 'Berwick - South',
       'Blackburn', 'Blackburn South', 'Boronia', 'Box Hill',
       'Box Hill North', 'Braeside', 'Braybrook', 'Bright - Mount Beauty',
       'Brighton (Vicnp)', 'Brighton East', 'Broadmeadows', 'Brunswick',
       'Brunswick East', 'Brunswick West', 'Bruthen - Omeo', 'Bulleen',
       'Buloke', 'Bundoora - East', 'Bundoora - North', 'Bundoora - West',
       'Buninyong', 'Bunyip - Garfield', 'Burnside', 'Burnside Heights',
       'Burwood', 'Burwood East', 'Cairnlea',
       'California Gully - Eaglehawk', 'Camberwell',
       'Campbellfield - Coolaroo', 'Camperdown', 'Carlton',
       'Carlton North - Princes Hill', 'Carnegie', 'Caroline Springs',
       'Carrum - Patterson Lakes', 'Carrum Downs', 'Castlemaine',
       'Castlemaine Region', 'Caulfield - North', 'Caulfield - South',
       'Chelsea - Bonbeach', 'Chelsea Heights',
       'Cheltenham - Highett (East)', 'Cheltenham - Highett (West)',
       'Chiltern - Indigo Valley', 'Chirnside Park', 'Churchill',
       'Clarinda - Oakleigh South', 'Clayton', 'Clayton South',
       'Clifton Springs', 'Cobram', 'Coburg', 'Coburg North', 'Colac',
       'Colac Region', 'Collingwood', 'Corangamite - North',
       'Corangamite - South', 'Corio - Norlane', 'Craigieburn - Central',
       'Craigieburn - North', 'Craigieburn - South', 'Craigieburn - West',
       'Cranbourne', 'Cranbourne East', 'Cranbourne North',
       'Cranbourne South', 'Cranbourne West', 'Creswick - Clunes',
       'Croydon - East', 'Croydon - West', 'Croydon Hills - Warranwood',
       'Croydon South', 'Dandenong', 'Dandenong North', 'Daylesford',
       'Deer Park - Derrimut', 'Delacombe', 'Delahey', 'Dingley Village',
       'Docklands', 'Doncaster', 'Doncaster East (North)',
       'Doncaster East (South)', 'Donvale - Park Orchards', 'Doreen',
       'Doveton', 'Dromana', 'Drouin', 'East Bendigo - Kennington',
       'East Melbourne', 'Echuca', 'Edithvale - Aspendale', 'Elsternwick',
       'Eltham', 'Elwood', 'Emerald - Cockatoo',
       'Endeavour Hills - North', 'Endeavour Hills - South',
       'Epping - East', 'Epping - South', 'Epping - West',
       'Essendon - Aberfeldie', 'Essendon Airport', 'Euroa', 'Fawkner',
       'Ferntree Gully (North)',
       'Ferntree Gully (South) - Upper Ferntree Gully', 'Fitzroy',
       'Fitzroy North', 'Flemington', 'Flemington Racecourse', 'Flinders',
       'Flora Hill - Spring Gully', 'Footscray', 'Forest Hill', 'Foster',
       'Frankston', 'Frankston North', 'Frankston South', 'French Island',
       'Gannawarra', 'Geelong', 'Geelong West - Hamlyn Heights',
       'Gisborne', 'Gladstone Park - Westmeadows', 'Glen Iris - East',
       'Glen Waverley - East', 'Glen Waverley - West', 'Glenelg (Vicnp)',
       'Glenroy', 'Golden Plains - North', 'Golden Plains - South',
       'Gordon (Vicnp)', 'Gowanbrae', 'Greensborough',
       'Greenvale - Bulla', 'Grovedale', 'Hadfield', 'Hallam',
       'Hamilton (Vicnp)', 'Hampton', 'Hampton Park - Lynbrook',
       'Hastings - Somers', 'Hawthorn', 'Hawthorn East',
       'Healesville - Yarra Glen', 'Heathcote', 'Heidelberg - Rosanna',
       'Heidelberg West', 'Highton', 'Hillside',
       'Hoppers Crossing - North', 'Hoppers Crossing - South', 'Horsham',
       'Horsham Region', 'Hughesdale', 'Hurstbridge', 'Irymple',
       'Ivanhoe', 'Ivanhoe East - Eaglemont',
       'Kangaroo Flat - Golden Square', 'Keilor', 'Keilor Downs',
       'Keilor East', 'Kensington (Vicnp)', 'Kerang', 'Kew', 'Kew East',
       'Keysborough', 'Kilmore - Broadford', 'Kilsyth', 'Kinglake',
       'Kings Park (Vicnp)', 'Kingsbury', 'Knoxfield - Scoresby',
       'Koo Wee Rup', 'Korumburra', 'Kyabram', 'Kyneton', 'Lake King',
       'Lakes Entrance', 'Lalor', 'Langwarrin', 'Lara', 'Laverton',
       'Leongatha', 'Leopold', 'Lilydale - Coldstream',
       'Lockington - Gunbower', 'Loddon', 'Longford - Loch Sport',
       'Lorne - Anglesea', 'Lynbrook - Lyndhurst', 'Lysterfield',
       'Macedon', 'Maffra', 'Maiden Gully', 'Malvern - Glen Iris',
       'Malvern East', 'Mansfield (Vicnp)', 'Maribyrnong',
       'Maryborough (Vicnp)', 'Maryborough Region', 'Meadow Heights',
       'Melbourne', 'Melbourne Airport', 'Melton', 'Melton South',
       'Melton West', 'Mentone', 'Merbein', 'Mernda',
       'Mickleham - Yuroke', 'Mildura - North', 'Mildura - South',
       'Mildura Region', 'Mill Park - North', 'Mill Park - South',
       'Mitcham (Vicnp)', 'Moe - Newborough', 'Moira', 'Monbulk - Silvan',
       'Montmorency - Briar Hill', 'Montrose', 'Moonee Ponds',
       'Moorabbin - Heatherton', 'Moorabbin Airport', 'Mooroolbark',
       'Mooroopna', 'Mordialloc - Parkdale', 'Mornington', 'Morwell',
       'Mount Baw Baw Region', 'Mount Dandenong - Olinda', 'Mount Eliza',
       'Mount Evelyn', 'Mount Martha', 'Mount Waverley - North',
       'Mount Waverley - South', 'Moyne - East', 'Moyne - West',
       'Mulgrave', 'Murrumbeena', 'Myrtleford', 'Nagambie',
       'Narre Warren - North East', 'Narre Warren - South West',
       'Narre Warren North', 'Narre Warren South (East)',
       'Narre Warren South (West)', 'Newcomb - Moolap', 'Newport',
       'Newtown (Vicnp)', 'Nhill Region', 'Niddrie - Essendon West',
       'Noble Park - East', 'Noble Park - West', 'Noble Park North',
       'North Geelong - Bell Park', 'North Melbourne', 'Northcote',
       'Numurkah', 'Nunawading', 'Oakleigh - Huntingdale',
       'Ocean Grove - Barwon Heads', 'Orbost', 'Ormond - Glen Huntly',
       'Otway', 'Pakenham - North', 'Pakenham - South',
       'Panton Hill - St Andrews', 'Parkville', 'Pascoe Vale',
       'Pascoe Vale South', 'Paynesville', 'Pearcedale - Tooradin',
       'Phillip Island', 'Plenty - Yarrambat', 'Point Cook - East',
       'Point Cook - North', 'Point Cook - South',
       'Point Lonsdale - Queenscliff', 'Point Nepean', 'Port Melbourne',
       'Port Melbourne Industrial', 'Portarlington', 'Portland',
       'Prahran - Windsor', 'Preston - East', 'Preston - West',
       'Red Cliffs', 'Research - North Warrandyte', 'Reservoir - East',
       'Reservoir - West', 'Richmond (Vicnp)', 'Riddells Creek',
       'Ringwood', 'Ringwood East', 'Ringwood North', 'Robinvale',
       'Rochester', 'Rockbank - Mount Cottrell', 'Romsey',
       'Rosebud - McCrae', 'Rosedale', 'Rowville - Central',
       'Rowville - North', 'Rowville - South', 'Roxburgh Park - Somerton',
       'Rushworth', 'Rutherglen', 'Sale', 'Sandringham - Black Rock',
       'Seabrook', 'Seaford (Vicnp)', 'Seddon - Kingsville', 'Seymour',
       'Seymour Region', 'Shepparton - North', 'Shepparton - South',
       'Shepparton Region - East', 'Shepparton Region - West',
       'Skye - Sandhurst', 'Smythes Creek', 'Somerville',
       'South Melbourne', 'South Morang (North)', 'South Morang (South)',
       'South Yarra - East', 'South Yarra - West', 'Southbank',
       'Southern Grampians', 'Springvale', 'Springvale South',
       'St Albans - North', 'St Albans - South', 'St Arnaud', 'St Kilda',
       'St Kilda East', 'Stawell', 'Strathfieldsaye', 'Strathmore',
       'Sunbury', 'Sunbury - South', 'Sunshine', 'Sunshine North',
       'Sunshine West', 'Surrey Hills (East) - Mont Albert',
       'Surrey Hills (West) - Canterbury', 'Swan Hill',
       'Swan Hill Region', 'Sydenham', 'Tarneit', 'Taylors Hill',
       'Taylors Lakes', 'Templestowe', 'Templestowe Lower', 'The Basin',
       'Thomastown', 'Thornbury', 'Toorak', 'Torquay', 'Towong',
       'Trafalgar (Vicnp)', 'Traralgon', 'Truganina', 'Tullamarine',
       'Upper Yarra Valley', 'Upwey - Tecoma', 'Vermont', 'Vermont South',
       'Viewbank - Yallambie', 'Wallan', 'Wandin - Seville', 'Wangaratta',
       'Wangaratta Region', 'Wantirna', 'Wantirna South', 'Warragul',
       'Warrandyte - Wonga Park', 'Warrnambool - North',
       'Warrnambool - South', 'Watsonia', 'Wattle Glen - Diamond Creek',
       'Wendouree - Miners Rest', 'Werribee - East', 'Werribee - South',
       'Werribee - West', 'West Footscray - Tottenham', 'West Melbourne',
       'West Wimmera', 'West Wodonga', 'Wheelers Hill',
       'White Hills - Ascot', 'Whittlesea', 'Williamstown',
       'Wilsons Promontory', 'Winchelsea', 'Wodonga', 'Wollert',
       'Wonthaggi - Inverloch', 'Woodend', 'Wyndham Vale', 'Yackandandah',
       'Yallourn North - Glengarry', 'Yarra - North', 'Yarra Valley',
       'Yarram', 'Yarraville', 'Yarrawonga', 'Yarriambiack', 'Yea'],
      dtype=object)