In [14]:
# import packages
import pandas as pd
import os

In [15]:
# set directory
main_directory = os.getcwd().strip('notebooks')
print(main_directory)

/Users/lucyliu/Applied_Data_Science/Project2_actual/

In [16]:
# import dataset. Dataset taken from 
# https://www.gen-agedcaredata.gov.au/Resources/Access-data/2019/September/Population-projections,-2017-(base)-to-2032-for-al
raw_data = pd.read_csv(main_directory +'data/raw/Victoria.csv')

In [17]:
# we only want the next three years
predictive_data = raw_data[(raw_data['YEAR'] == 2022)|(raw_data['YEAR'] == 2023) | (raw_data['YEAR'] == 2024) |(raw_data['YEAR'] == 2025)]

In [18]:
predictive_data

,YEAR,SA2_CODE,SA2_NAME,SEX,Age0-4,Age5-9,Age10-14,Age15-19,Age20-24,Age25-29,...,Age45-49,Age50-54,Age55-59,Age60-64,Age65-69,Age70-74,Age75-79,Age80-84,Age85+,Total
6930,2022,201011001,Alfredton,Male,596,625,691,633,442,478,...,462,443,375,344,285,272,211,106,71,7689
6931,2022,201011001,Alfredton,Female,567,624,671,589,408,480,...,506,512,437,387,327,328,205,120,95,7999
6932,2022,201011001,Alfredton,Persons,1163,1249,1362,1222,850,958,...,968,955,812,731,612,600,416,226,166,15688
6933,2022,201011002,Ballarat,Male,278,325,379,485,446,326,...,341,388,392,375,321,348,281,178,127,5888
6934,2022,201011002,Ballarat,Female,252,278,389,489,389,347,...,418,466,459,457,348,384,316,215,199,6412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12469,2025,217041479,Warrnambool - North,Female,668,693,755,764,558,722,...,648,734,736,804,780,658,550,392,438,12248
12470,2025,217041479,Warrnambool - North,Persons,1378,1451,1559,1596,1211,1513,...,1248,1360,1355,1468,1483,1299,1043,744,723,24005
12471,2025,217041480,Warrnambool - South,Male,364,364,394,367,390,500,...,366,416,397,391,395,398,344,211,173,6728
12472,2025,217041480,Warrnambool - South,Female,347,355,368,343,331,460,...,376,425,400,419,475,417,381,224,342,6933
12473,2025,217041480,Warrnambool - South,Persons,711,719,762,710,721,960,...,742,841,797,810,870,815,725,435,515,13661