In [5]:
# import packages
import pandas as pd
import os

In [6]:
# set directory
main_directory = os.getcwd().strip('notebooks')
print(main_directory)

/Users/lucyliu/Applied_Data_Science/Project2_actual/

In [11]:
# import dataset. Dataset taken from 
# https://www.gen-agedcaredata.gov.au/Resources/Access-data/2019/September/Population-projections,-2017-(base)-to-2032-for-al
raw_data = pd.read_csv(main_directory +'data/raw/Victoria.csv')

In [12]:
# we only want the next three years
predictive_data = raw_data[(raw_data['YEAR'] == 2023) | (raw_data['YEAR'] == 2024) |(raw_data['YEAR'] == 2025)]

In [13]:
predictive_data

,YEAR,SA2_CODE,SA2_NAME,SEX,Age0-4,Age5-9,Age10-14,Age15-19,Age20-24,Age25-29,...,Age45-49,Age50-54,Age55-59,Age60-64,Age65-69,Age70-74,Age75-79,Age80-84,Age85+,Total
8316,2023,201011001,Alfredton,Male,620,649,711,665,449,481,...,490,450,398,340,299,279,226,116,73,7979
8317,2023,201011001,Alfredton,Female,587,644,705,611,417,489,...,507,536,429,418,346,338,222,130,105,8315
8318,2023,201011001,Alfredton,Persons,1207,1293,1416,1276,866,970,...,997,986,827,758,645,617,448,246,178,16294
8319,2023,201011002,Ballarat,Male,275,309,387,491,436,322,...,332,382,385,380,329,355,292,191,123,5888
8320,2023,201011002,Ballarat,Female,251,273,382,499,375,346,...,408,472,456,456,364,385,335,214,203,6416
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12469,2025,217041479,Warrnambool - North,Female,668,693,755,764,558,722,...,648,734,736,804,780,658,550,392,438,12248
12470,2025,217041479,Warrnambool - North,Persons,1378,1451,1559,1596,1211,1513,...,1248,1360,1355,1468,1483,1299,1043,744,723,24005
12471,2025,217041480,Warrnambool - South,Male,364,364,394,367,390,500,...,366,416,397,391,395,398,344,211,173,6728
12472,2025,217041480,Warrnambool - South,Female,347,355,368,343,331,460,...,376,425,400,419,475,417,381,224,342,6933
12473,2025,217041480,Warrnambool - South,Persons,711,719,762,710,721,960,...,742,841,797,810,870,815,725,435,515,13661